DATABASE_URL="postgresql://virtuoffice:change-me@localhost:5432/virtuoffice?schema=public"
ACTIVITY_IDLE_MS=300000
ACTIVITY_GRACE_MS=60000
APP_URL="http://localhost:3000"
ENTRA_TENANT_ID=""
ENTRA_CLIENT_ID=""
ENTRA_CLIENT_SECRET=""
